{% extends 'base.html' %}

{% block content %}
      <article>День восемнадцатый. Как я попал в ссылку<br>
    {{ url_for('static', filename='form-style.css') }} - очень удобный инструмент для web-разработчика.<br>
Он позволяет впихивать в страницы сайта ссылки на файлы вашего сервера или на другие страницы вашего сайта.<br>
Пример выше позволяет подключить css-файл.<br>
    {{ url_for('index')}}<br>
Это выведет ссылку на http://127.0.0.1:5000/index<br>
    {{ url_for("static", filename = "raccoon.svg") }}<br>
Это картинка с енотом из моей папки static, лежащей в корне проекта, но я вам её не дам ;)<br>
      </article>
      <aside class="partnership">
        Тут могла быть ваша реклама
      </aside>
{% endblock %}