{% extends 'base.html' %}

{% block content %}
      <article>День шестнадцатый. Как меня били чайником и научили Flask жмыхать <br>
<br>
Сегодня я научился пользоваться базовыми возможностями библиотеки Flask 3.0.0. Это python-библиотека для быстрого создания веб-серверов.<br>
Чтобы сделать простейший сервер после импорта<br>
    from flask import Flask, render_template<br>
библиотеки, нужно написать:<br>
    app = Flask(__name__)<br>
<br>
Потом создаются маршруты для нашего сервера:<br>
<br>
@app.route("/")# <- сюда пишется подадрес страницы (целиком выглядит примерно как http://127.0.0.1:5000/)<br>
def hello():<br>
    return render_template("login.html")<br>
<br>
Здесь login.html - HTML-файл в той же папке, что и main, который выдаст веб-страница по адресу выше ^.<br>
Можно вывести сырой html-код.<br>
Таких адресов можно сделать сколько угодно.<br>
<br>
И в конце надо написать:<br>
if __name__ == "__main__":<br>
    app.run(debug=True)<br>
Это запустит локальный сервер и выведет в строку вывода актуальный адрес.<br>
      </article>
      <aside class="partnership">
        Тут могла быть ваша реклама
      </aside>
{% endblock %}