{% extends 'base.html' %}

{% block content %}
      <article>День семнадцатый. HTML-мучения<br>
<br>
В прошлом дне я рассказал, как сделать сервер. Здесь я покажу, что он может выдавать, как страницу.<br>
Если мы используем render_template, то мы cможем использовать разные файлы, как шаблоны.<br>
В примере используется файл "login.html"<br>
Здесть я приведу его краткий код:<br>
    { % extends "base.html" %} - кусок кода на ginger, означает, что наш файл выдаст шаблонное содержание base.html<br>
ginger позволяет создать файл-шаблон (base.html), содержащий блоки<br>
    { % block generic_block_name %}<br>
        *your html-code*<br>
    { % endblock %}<br>
Такой блок в файле-шаблоне можно заменить в последующий файлах, использующих ваш шаблон, таких, как login.html<br>
Для изменения блока относительно шаблона используем такую же нотацию блока, и он перезапишет блок со своим именем из шаблона.<br>
    { % block generic_block_name %}<br>
        *your modified html-code*<br>
    { % endblock %}<br>
При выдавании этого файла (login.html) через render_template, сервер выдаст HTML-код из base.html,<br>
но блок "generic_block_name" будет заменён на такой в login.html<br>
          Сотрите пробелы после первых фиигурных скобок.
      </article>
      <aside class="partnership">
        Тут могла быть ваша реклама
      </aside>
{% endblock %}